{% extends "base.html" %}
{% block content %}
    <div>
        <h1>Log In Successful</h1><br><br><br>
        {% if user.user_type == 'professor' %}
            <div>
                <form id="project">
                    <label>Create Project?</label>
                    <button type="submit">Create Project</button>
                </form>
            </div>
        {% endif %}
        <br>
    </div>
    <div>
        <form id="logout">
            <label>Log Out!</label>
            <button type="submit">Log Out</button>
        </form>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    let registerForm = document.getElementById('logout');
    registerForm.addEventListener('submit', (e) => {
        e.preventDefault();

        // Delete cookie
        document.cookie = `token=; expires=Thu, 01 Jan 1970 00:00:00 UTC;`;
        location.reload();
    })

    let projectRedirect = document.getElementById('project');
    projectRedirect.addEventListener('submit', (e) => {
        e.preventDefault();

        location.assign("/projects/create");
    })

</script>
{% endblock %}