{% extends "base.html" %}
{% block content %}
    <div>
        <form action="/dashboard" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email"><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password"><br><br>
            <button type="submit">Log In</button><br><br><br><br>
        </form>
    </div>
    <div>
        <form action="/register">
            <label>Register here!</label>
            <input type="submit" value="Register"><br><br><br><br>
        </form>
    </div>
{% endblock content %}