{% extends "base.html" %} {% block content %}
<div class="container my-4 py-4">
    <h1>{{ project.title}}</h1>
    <br />

    <b>Due date:</b>
    <p>{{project.due_date}}</p>

    <b>Administrator:</b>
    <p>{{'{} {}'.format(project.admin.first_name, project.admin.last_name)}}</p>

    <b>Description:</b>
    <p>{{project.description}}</p>

    <b>Project Tasks:</b>

    <br />
    <div>
        <form id="task">
            <button type="submit">Create Task</button>
        </form>
    </div>

    <b>Members</b>
    <ul>
        {% for member in project.members %}
        <li>{{'{} {}'.format(member.first_name, member.last_name)}}</li>
        {% endfor %}
    </ul>
    <b>Feedback</b>
    {% for comment in feedback %}
    <div class="card my-2 w-100">
        <div class="card-header font-weight-bold small">
            {{'{} {}'.format(comment.user.first_name, comment.user.last_name)}}
        </div>
        <div class="card-body py-2">
            <p class="card-text">{{comment.content}}</p>
            <h6 class="text-muted small">{{comment.date}}</h6>
        </div>
    </div>
    {% endfor %}
    {% if user.id == project.admin.id %}
    <div>
        <form id="invitations">
            <label
                >Invite members: (enter emails separated by spaces or
                commas)</label
            >
            <input type="text" name="member_emails" />
            <button type="submit">Invite</button>
        </form>
    </div>
    {% endif %} {% if user.user_type == 'professor' %}
    <form id="feedback" class="my-3">
        <div class="mb-3">
            <label for="feedback_input" class="form-label" >Submit feedback</label>
            <textarea name="feedback_input" id="feedback_input" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" class="col-12">Submit</button>
    </form>
    {% endif %}
    <div>
        <form action="/dashboard">
            <input type="submit" value="Go back"  class="btn btn-secondary"/>
        </form>
    </div>
</div>
{% endblock content %} {% block scripts %}
<script>
    let inviteForm = document.getElementById('invitations');
    inviteForm && inviteForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const invitees = e.target.member_emails.value.split(/[, ]+/);

        fetch('/projects/invite/{{project.id}}', {
            method: 'POST',
            body: JSON.stringify(invitees),
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then((res) => res.json())
            .then((data) => {
                // location.assign('/dashboard');
            })
            .catch((error) => {
                console.error(error);
            });
    });

    let projectRedirect = document.getElementById('task');
    projectRedirect.addEventListener('submit', (e) => {
        e.preventDefault();

        location.assign('/projects/{{project.id}}/createTask');
    });


    $(document).ready(function() {
        $('#feedback').submit((event) => {
            event.preventDefault();

            const payload = {
                user: '{{user.id}}',
                content: $('#feedback_input').val()
            }

            console.log(payload)
            
            fetch('/projects/{{project.id}}/feedback', {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(_ => location.reload())
                .catch((error) => {
                    console.error(error);
                });
            
        });
    })
   
</script>
{% endblock %}
